/*For mobile devices screen size*/

* { 
    box-sizing: border-box;
    font-family: 'Red Hat Text', sans-serif;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    color:#0b4d8f;
    line-height: 1.5;
    font-size: 1.1em;
    min-height: 100vh;
}

h1 {
    color: #0b4d8f;
    font-size: 1.5em;
    width: 100%;
}

h2 {
    color:#0b4d8f;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0;
}

.main-header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 1024px;
    width: 90vw;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.menuItems {
    margin: 0.8em;
    font-size: 1.1em;
    justify-content: center;
}

ul {
    padding: 0;
}

.main-container {
    margin: 0 auto 2em auto;
    max-width: 1024px;
    width: 90vw;
}

section {
    margin: 30px 0;
}

/*About section*/
#about {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0;
}

.headshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 0;
}

/*Experience section*/
.emphasis {
    font-style: italic;
    color: #636371;
}

.strong {
    font-weight: 500;
}

.job {
    background-color: #eceaee;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
}
 
/* Skills section*/
.skill_name {
    border-radius: 2px;
    border: 2px solid #0C74D4;
    color: #0C74D4;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

/*Projects Section*/
#projects {
    color:#0b4d8f;
}

/* Leave A Message section*/
form {
    display: flex;
    flex-direction: column
}

#leave_message {
    margin-top: 1em;
}

input[name="email"], input[name="name"] {
        width: 80%;
        height: 40px;
}

textarea {
    width: 80%;
    height: 80px;
}

#form input, textarea {
    line-height: 1;
}

#text {
    color:#55556e;
    font-size: 1em;
    max-width: 100%;
}
/* Your Email text area*/
#email {
    color:#55556e;
    font-size: 1em;
    max-width: 100%;
}

/*Your Message text area*/
#message {
    color:#55556e;
    font-size: 1em;
    padding: 10px;
    max-width: 100%;
}

/*Submit Message button*/
#submit {
    color:aliceblue;
    background-color:#0B4D8F; 
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    border: none;
    margin: 0;
}

#submit:hover {
    background-color: #0a83f4;
    cursor: pointer;
}

/*Messages section*/
#message_list {
    display: inline-block;
    margin-bottom: 1rem;
}

#message_list li{
    margin-bottom: 0.5em;
}

span {
    margin: 0 1rem;
}

/*edit and remove buttons*/
button {
    font-weight: bold;
    margin-right: 20px;
    padding: 5px;
    min-width: 100px;
    cursor: pointer;
}

/*Footer*/
#footer-container {
    display: flex;
    flex-direction: column;
    background-color:#eceaee;
    font-size: 1em;
    text-align: center;
    justify-content: space-around;
}
   
#footer-container p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.social-media li {
    position: relative;
    list-style: none;
    font-size: 2rem;
    line-height: 10px;
    margin: 0 15px;
    cursor: pointer;
    z-index: 1;
}

/*links*/
a:link, a:visited { 
    text-decoration: none; 
    color: inherit;
}

a:hover, a:focus {
  color:#0a83f4;
}

/*For tablet size*/
@media screen and (min-width: 768px) {
    
    .main-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu {
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;    
    }

    .name {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main-container {
        margin-top: 2rem;
    }

    #about {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
    }
    
    .headshot {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 1.5rem 0 0;
        align-items: center;
    }

    .job {
        flex-direction: row;
        justify-content: space-between;
    }
    
    input[name="email"], input[name="name"] {
        width: 40%;
        height: 40px;
    }

    textarea {
        width: 40%;
        height: 80px;

    }
}

/*For large screen*/
@media screen and (min-width: 1025px) {
    .main-header {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        padding: 1rem 0;
        text-transform: uppercase;
        max-width: 1024px;
        width: 90vw;
    }

    h1 {
        margin: 0;
    }  
 
    .menu {
        width: 100%;
        max-width: 1150px;
    }
}